#containerMain {
	position: absolute;
	background-color: #f1f1f1;
	width: 80%;
	top: 0%;
	left: 10%;
	height: 90%;
	overflow: hidden;

}

.ActionBar {
	position: absolute;
	width: 100%;

}

#fileExplorer {
	position: absolute;
	overflow: auto;
}

#editor {
	position: absolute;
}

