#container {
	background-color: #f1f1f1;
	width: 100%;
	overflow: auto;
	position: absolute;
	top: 100px;
	left: 8px;
	height: 300px;

}

#containerMain {
	position: absolute;
	background-color: #f1f1f1;
	width: 90%;
	top: 10%;
	left: 10%;
	height: 50%;
	overflow: auto;

}


#toolbar {
	position: absolute;
	width: 100%;
	background: black;
	height: 50px;
}

.standardWindow {
	position: absolute;
}

.standardVerticalDragbar {
	position: absolute;
	transform: translate(-50%, 0);
	top: 0;
	cursor: col-resize;
	z-index: 3;
	padding: 0px;
	width: 6px;
	background-color: black;
}

.standardHorizontalDragbar {
	position: absolute;
	transform: translate(0%, -50%);
	top: 0;
	cursor: row-resize;
	z-index: 3;
	padding: 0px;
	height: 6px;
	background-color: black;
}

.menuButton{
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 10px;
	width: 10px;
	background-color: black;

}

.menu{
	/*visibility: hidden;*/
	background-color: gold;
	position: absolute;
	right: 1%;
	bottom: 1%;

}
/*
#menu a{
 text-decoration: none;
 color: #333;
 font-family: sans-serif;
 padding: 5px;
 z-index: 5;

}
#menu ul li{
 display: inline;
 z-index: 5;
}
.dropdown-menu{
 display: none;
 z-index: 5;
}*/
